:root {
  --rdx-clr-amber-01: #16120c;
  --rdx-clr-amber-02: #1d180f;
  --rdx-clr-amber-03: #302008;
  --rdx-clr-amber-04: #3f2700;
  --rdx-clr-amber-05: #4d3000;
  --rdx-clr-amber-06: #5c3d05;
  --rdx-clr-amber-07: #714f19;
  --rdx-clr-amber-08: #8f6424;
  --rdx-clr-amber-09: #ffc53d;
  --rdx-clr-amber-10: #ffd60a;
  --rdx-clr-amber-11: #ffca16;
  --rdx-clr-amber-12: #ffe7b3;

  --rdx-clr-blue-01: #0d1520;
  --rdx-clr-blue-02: #111927;
  --rdx-clr-blue-03: #0d2847;
  --rdx-clr-blue-04: #003362;
  --rdx-clr-blue-05: #004074;
  --rdx-clr-blue-06: #104d87;
  --rdx-clr-blue-07: #205d9e;
  --rdx-clr-blue-08: #2870bd;
  --rdx-clr-blue-09: #0090ff;
  --rdx-clr-blue-10: #3b9eff;
  --rdx-clr-blue-11: #70b8ff;
  --rdx-clr-blue-12: #c2e6ff;

  --rdx-clr-bronze-01: #141110;
  --rdx-clr-bronze-02: #1c1917;
  --rdx-clr-bronze-03: #262220;
  --rdx-clr-bronze-04: #302a27;
  --rdx-clr-bronze-05: #3b3330;
  --rdx-clr-bronze-06: #493e3a;
  --rdx-clr-bronze-07: #5a4c47;
  --rdx-clr-bronze-08: #6f5f58;
  --rdx-clr-bronze-09: #a18072;
  --rdx-clr-bronze-10: #ae8c7e;
  --rdx-clr-bronze-11: #d4b3a5;
  --rdx-clr-bronze-12: #ede0d9;

  --rdx-clr-brown-01: #12110f;
  --rdx-clr-brown-02: #1c1816;
  --rdx-clr-brown-03: #28211d;
  --rdx-clr-brown-04: #322922;
  --rdx-clr-brown-05: #3e3128;
  --rdx-clr-brown-06: #4d3c2f;
  --rdx-clr-brown-07: #614a39;
  --rdx-clr-brown-08: #7c5f46;
  --rdx-clr-brown-09: #ad7f58;
  --rdx-clr-brown-10: #b88c67;
  --rdx-clr-brown-11: #dbb594;
  --rdx-clr-brown-12: #f2e1ca;

  --rdx-clr-crimson-01: #191114;
  --rdx-clr-crimson-02: #201318;
  --rdx-clr-crimson-03: #381525;
  --rdx-clr-crimson-04: #4d122f;
  --rdx-clr-crimson-05: #5c1839;
  --rdx-clr-crimson-06: #6d2545;
  --rdx-clr-crimson-07: #873356;
  --rdx-clr-crimson-08: #b0436e;
  --rdx-clr-crimson-09: #e93d82;
  --rdx-clr-crimson-10: #ee518a;
  --rdx-clr-crimson-11: #ff92ad;
  --rdx-clr-crimson-12: #fdd3e8;

  --rdx-clr-cyan-01: #0b161a;
  --rdx-clr-cyan-02: #101b20;
  --rdx-clr-cyan-03: #082c36;
  --rdx-clr-cyan-04: #003848;
  --rdx-clr-cyan-05: #004558;
  --rdx-clr-cyan-06: #045468;
  --rdx-clr-cyan-07: #12677e;
  --rdx-clr-cyan-08: #11809c;
  --rdx-clr-cyan-09: #00a2c7;
  --rdx-clr-cyan-10: #23afd0;
  --rdx-clr-cyan-11: #4ccce6;
  --rdx-clr-cyan-12: #b6ecf7;

  --rdx-clr-gold-01: #121211;
  --rdx-clr-gold-02: #1b1a17;
  --rdx-clr-gold-03: #24231f;
  --rdx-clr-gold-04: #2d2b26;
  --rdx-clr-gold-05: #38352e;
  --rdx-clr-gold-06: #444039;
  --rdx-clr-gold-07: #544f46;
  --rdx-clr-gold-08: #696256;
  --rdx-clr-gold-09: #978365;
  --rdx-clr-gold-10: #a39073;
  --rdx-clr-gold-11: #cbb99f;
  --rdx-clr-gold-12: #e8e2d9;

  --rdx-clr-grass-01: #0e1511;
  --rdx-clr-grass-02: #141a15;
  --rdx-clr-grass-03: #1b2a1e;
  --rdx-clr-grass-04: #1d3a24;
  --rdx-clr-grass-05: #25482d;
  --rdx-clr-grass-06: #2d5736;
  --rdx-clr-grass-07: #366740;
  --rdx-clr-grass-08: #3e7949;
  --rdx-clr-grass-09: #46a758;
  --rdx-clr-grass-10: #53b365;
  --rdx-clr-grass-11: #71d083;
  --rdx-clr-grass-12: #c2f0c2;

  --rdx-clr-gray-01: #111111;
  --rdx-clr-gray-02: #191919;
  --rdx-clr-gray-03: #222222;
  --rdx-clr-gray-04: #2a2a2a;
  --rdx-clr-gray-05: #313131;
  --rdx-clr-gray-06: #3a3a3a;
  --rdx-clr-gray-07: #484848;
  --rdx-clr-gray-08: #606060;
  --rdx-clr-gray-09: #6e6e6e;
  --rdx-clr-gray-10: #7b7b7b;
  --rdx-clr-gray-11: #b4b4b4;
  --rdx-clr-gray-12: #eeeeee;

  --rdx-clr-green-01: #0e1512;
  --rdx-clr-green-02: #121b17;
  --rdx-clr-green-03: #132d21;
  --rdx-clr-green-04: #113b29;
  --rdx-clr-green-05: #174933;
  --rdx-clr-green-06: #20573e;
  --rdx-clr-green-07: #28684a;
  --rdx-clr-green-08: #2f7c57;
  --rdx-clr-green-09: #30a46c;
  --rdx-clr-green-10: #33b074;
  --rdx-clr-green-11: #3dd68c;
  --rdx-clr-green-12: #b1f1cb;

  --rdx-clr-indigo-01: #11131f;
  --rdx-clr-indigo-02: #141726;
  --rdx-clr-indigo-03: #182449;
  --rdx-clr-indigo-04: #1d2e62;
  --rdx-clr-indigo-05: #253974;
  --rdx-clr-indigo-06: #304384;
  --rdx-clr-indigo-07: #3a4f97;
  --rdx-clr-indigo-08: #435db1;
  --rdx-clr-indigo-09: #3e63dd;
  --rdx-clr-indigo-10: #5472e4;
  --rdx-clr-indigo-11: #9eb1ff;
  --rdx-clr-indigo-12: #d6e1ff;

  --rdx-clr-iris-01: #13131e;
  --rdx-clr-iris-02: #171625;
  --rdx-clr-iris-03: #202248;
  --rdx-clr-iris-04: #262a65;
  --rdx-clr-iris-05: #303374;
  --rdx-clr-iris-06: #3d3e82;
  --rdx-clr-iris-07: #4a4a95;
  --rdx-clr-iris-08: #5958b1;
  --rdx-clr-iris-09: #5b5bd6;
  --rdx-clr-iris-10: #6e6ade;
  --rdx-clr-iris-11: #b1a9ff;
  --rdx-clr-iris-12: #e0dffe;

  --rdx-clr-jade-01: #0d1512;
  --rdx-clr-jade-02: #121c18;
  --rdx-clr-jade-03: #0f2e22;
  --rdx-clr-jade-04: #0b3b2c;
  --rdx-clr-jade-05: #114837;
  --rdx-clr-jade-06: #1b5745;
  --rdx-clr-jade-07: #246854;
  --rdx-clr-jade-08: #2a7e68;
  --rdx-clr-jade-09: #29a383;
  --rdx-clr-jade-10: #27b08b;
  --rdx-clr-jade-11: #1fd8a4;
  --rdx-clr-jade-12: #adf0d4;

  --rdx-clr-lime-01: #11130c;
  --rdx-clr-lime-02: #151a10;
  --rdx-clr-lime-03: #1f2917;
  --rdx-clr-lime-04: #29371d;
  --rdx-clr-lime-05: #334423;
  --rdx-clr-lime-06: #3d522a;
  --rdx-clr-lime-07: #496231;
  --rdx-clr-lime-08: #577538;
  --rdx-clr-lime-09: #bdee63;
  --rdx-clr-lime-10: #d4ff70;
  --rdx-clr-lime-11: #bde56c;
  --rdx-clr-lime-12: #e3f7ba;

  --rdx-clr-mauve-01: #121113;
  --rdx-clr-mauve-02: #1a191b;
  --rdx-clr-mauve-03: #232225;
  --rdx-clr-mauve-04: #2b292d;
  --rdx-clr-mauve-05: #323035;
  --rdx-clr-mauve-06: #3c393f;
  --rdx-clr-mauve-07: #49474e;
  --rdx-clr-mauve-08: #625f69;
  --rdx-clr-mauve-09: #6f6d78;
  --rdx-clr-mauve-10: #7c7a85;
  --rdx-clr-mauve-11: #b5b2bc;
  --rdx-clr-mauve-12: #eeeef0;

  --rdx-clr-mint-01: #0e1515;
  --rdx-clr-mint-02: #0f1b1b;
  --rdx-clr-mint-03: #092c2b;
  --rdx-clr-mint-04: #003a38;
  --rdx-clr-mint-05: #004744;
  --rdx-clr-mint-06: #105650;
  --rdx-clr-mint-07: #1e685f;
  --rdx-clr-mint-08: #277f70;
  --rdx-clr-mint-09: #86ead4;
  --rdx-clr-mint-10: #a8f5e5;
  --rdx-clr-mint-11: #58d5ba;
  --rdx-clr-mint-12: #c4f5e1;

  --rdx-clr-olive-01: #111210;
  --rdx-clr-olive-02: #181917;
  --rdx-clr-olive-03: #212220;
  --rdx-clr-olive-04: #282a27;
  --rdx-clr-olive-05: #2f312e;
  --rdx-clr-olive-06: #383a36;
  --rdx-clr-olive-07: #454843;
  --rdx-clr-olive-08: #5c625b;
  --rdx-clr-olive-09: #687066;
  --rdx-clr-olive-10: #767d74;
  --rdx-clr-olive-11: #afb5ad;
  --rdx-clr-olive-12: #eceeec;

  --rdx-clr-orange-01: #17120e;
  --rdx-clr-orange-02: #1e160f;
  --rdx-clr-orange-03: #331e0b;
  --rdx-clr-orange-04: #462100;
  --rdx-clr-orange-05: #562800;
  --rdx-clr-orange-06: #66350c;
  --rdx-clr-orange-07: #7e451d;
  --rdx-clr-orange-08: #a35829;
  --rdx-clr-orange-09: #f76b15;
  --rdx-clr-orange-10: #ff801f;
  --rdx-clr-orange-11: #ffa057;
  --rdx-clr-orange-12: #ffe0c2;

  --rdx-clr-pink-01: #191117;
  --rdx-clr-pink-02: #21121d;
  --rdx-clr-pink-03: #37172f;
  --rdx-clr-pink-04: #4b143d;
  --rdx-clr-pink-05: #591c47;
  --rdx-clr-pink-06: #692955;
  --rdx-clr-pink-07: #833869;
  --rdx-clr-pink-08: #a84885;
  --rdx-clr-pink-09: #d6409f;
  --rdx-clr-pink-10: #de51a8;
  --rdx-clr-pink-11: #ff8dcc;
  --rdx-clr-pink-12: #fdd1ea;

  --rdx-clr-plum-01: #181118;
  --rdx-clr-plum-02: #201320;
  --rdx-clr-plum-03: #351a35;
  --rdx-clr-plum-04: #451d47;
  --rdx-clr-plum-05: #512454;
  --rdx-clr-plum-06: #5e3061;
  --rdx-clr-plum-07: #734079;
  --rdx-clr-plum-08: #92549c;
  --rdx-clr-plum-09: #ab4aba;
  --rdx-clr-plum-10: #b658c4;
  --rdx-clr-plum-11: #e796f3;
  --rdx-clr-plum-12: #f4d4f4;

  --rdx-clr-purple-01: #18111b;
  --rdx-clr-purple-02: #1e1523;
  --rdx-clr-purple-03: #301c3b;
  --rdx-clr-purple-04: #3d224e;
  --rdx-clr-purple-05: #48295c;
  --rdx-clr-purple-06: #54346b;
  --rdx-clr-purple-07: #664282;
  --rdx-clr-purple-08: #8457aa;
  --rdx-clr-purple-09: #8e4ec6;
  --rdx-clr-purple-10: #9a5cd0;
  --rdx-clr-purple-11: #d19dff;
  --rdx-clr-purple-12: #ecd9fa;

  --rdx-clr-red-01: #191111;
  --rdx-clr-red-02: #201314;
  --rdx-clr-red-03: #3b1219;
  --rdx-clr-red-04: #500f1c;
  --rdx-clr-red-05: #611623;
  --rdx-clr-red-06: #72232d;
  --rdx-clr-red-07: #8c333a;
  --rdx-clr-red-08: #b54548;
  --rdx-clr-red-09: #e5484d;
  --rdx-clr-red-10: #ec5d5e;
  --rdx-clr-red-11: #ff9592;
  --rdx-clr-red-12: #ffd1d9;

  --rdx-clr-ruby-01: #191113;
  --rdx-clr-ruby-02: #1e1517;
  --rdx-clr-ruby-03: #3a141e;
  --rdx-clr-ruby-04: #4e1325;
  --rdx-clr-ruby-05: #5e1a2e;
  --rdx-clr-ruby-06: #6f2539;
  --rdx-clr-ruby-07: #883447;
  --rdx-clr-ruby-08: #b3445a;
  --rdx-clr-ruby-09: #e54666;
  --rdx-clr-ruby-10: #ec5a72;
  --rdx-clr-ruby-11: #ff949d;
  --rdx-clr-ruby-12: #fed2e1;

  --rdx-clr-sage-01: #101211;
  --rdx-clr-sage-02: #171918;
  --rdx-clr-sage-03: #202221;
  --rdx-clr-sage-04: #272a29;
  --rdx-clr-sage-05: #2e3130;
  --rdx-clr-sage-06: #373b39;
  --rdx-clr-sage-07: #444947;
  --rdx-clr-sage-08: #5b625f;
  --rdx-clr-sage-09: #63706b;
  --rdx-clr-sage-10: #717d79;
  --rdx-clr-sage-11: #adb5b2;
  --rdx-clr-sage-12: #eceeed;

  --rdx-clr-sand-01: #111110;
  --rdx-clr-sand-02: #191918;
  --rdx-clr-sand-03: #222221;
  --rdx-clr-sand-04: #2a2a28;
  --rdx-clr-sand-05: #31312e;
  --rdx-clr-sand-06: #3b3a37;
  --rdx-clr-sand-07: #494844;
  --rdx-clr-sand-08: #62605b;
  --rdx-clr-sand-09: #6f6d66;
  --rdx-clr-sand-10: #7c7b74;
  --rdx-clr-sand-11: #b5b3ad;
  --rdx-clr-sand-12: #eeeeec;

  --rdx-clr-sky-01: #0d141f;
  --rdx-clr-sky-02: #111a27;
  --rdx-clr-sky-03: #112840;
  --rdx-clr-sky-04: #113555;
  --rdx-clr-sky-05: #154467;
  --rdx-clr-sky-06: #1b537b;
  --rdx-clr-sky-07: #1f6692;
  --rdx-clr-sky-08: #197cae;
  --rdx-clr-sky-09: #7ce2fe;
  --rdx-clr-sky-10: #a8eeff;
  --rdx-clr-sky-11: #75c7f0;
  --rdx-clr-sky-12: #c2f3ff;

  --rdx-clr-slate-01: #111113;
  --rdx-clr-slate-02: #18191b;
  --rdx-clr-slate-03: #212225;
  --rdx-clr-slate-04: #272a2d;
  --rdx-clr-slate-05: #2e3135;
  --rdx-clr-slate-06: #363a3f;
  --rdx-clr-slate-07: #43484e;
  --rdx-clr-slate-08: #5a6169;
  --rdx-clr-slate-09: #696e77;
  --rdx-clr-slate-10: #777b84;
  --rdx-clr-slate-11: #b0b4ba;
  --rdx-clr-slate-12: #edeef0;

  --rdx-clr-teal-01: #0d1514;
  --rdx-clr-teal-02: #111c1b;
  --rdx-clr-teal-03: #0d2d2a;
  --rdx-clr-teal-04: #023b37;
  --rdx-clr-teal-05: #084843;
  --rdx-clr-teal-06: #145750;
  --rdx-clr-teal-07: #1c6961;
  --rdx-clr-teal-08: #207e73;
  --rdx-clr-teal-09: #12a594;
  --rdx-clr-teal-10: #0eb39e;
  --rdx-clr-teal-11: #0bd8b6;
  --rdx-clr-teal-12: #adf0dd;

  --rdx-clr-tomato-01: #181111;
  --rdx-clr-tomato-02: #1f1513;
  --rdx-clr-tomato-03: #391714;
  --rdx-clr-tomato-04: #4e1511;
  --rdx-clr-tomato-05: #5e1c16;
  --rdx-clr-tomato-06: #6e2920;
  --rdx-clr-tomato-07: #853a2d;
  --rdx-clr-tomato-08: #ac4d39;
  --rdx-clr-tomato-09: #e54d2e;
  --rdx-clr-tomato-10: #ec6142;
  --rdx-clr-tomato-11: #ff977d;
  --rdx-clr-tomato-12: #fbd3cb;

  --rdx-clr-violet-01: #14121f;
  --rdx-clr-violet-02: #1b1525;
  --rdx-clr-violet-03: #291f43;
  --rdx-clr-violet-04: #33255b;
  --rdx-clr-violet-05: #3c2e69;
  --rdx-clr-violet-06: #473876;
  --rdx-clr-violet-07: #56468b;
  --rdx-clr-violet-08: #6958ad;
  --rdx-clr-violet-09: #6e56cf;
  --rdx-clr-violet-10: #7d66d9;
  --rdx-clr-violet-11: #baa7ff;
  --rdx-clr-violet-12: #e2ddfe;

  --rdx-clr-yellow-01: #14120b;
  --rdx-clr-yellow-02: #1b180f;
  --rdx-clr-yellow-03: #2d2305;
  --rdx-clr-yellow-04: #362b00;
  --rdx-clr-yellow-05: #433500;
  --rdx-clr-yellow-06: #524202;
  --rdx-clr-yellow-07: #665417;
  --rdx-clr-yellow-08: #836a21;
  --rdx-clr-yellow-09: #ffe629;
  --rdx-clr-yellow-10: #ffff57;
  --rdx-clr-yellow-11: #f5e147;
  --rdx-clr-yellow-12: #f6eeb4;
}
